[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
autopep8 = "*"
flake8 = "*"
django-debug-toolbar = "*"
channels-redis = "*"
pytz = "*"
websocket = "*"
djangorestframework = "*"
django-ckeditor = "*"
pillow = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"
requests = "*"
yfinance = "*"
plotly = "*"
django-environ = "*"
pip = "*"
install = "*"
django-plotly-dash = "*"
alpha-vantage = "*"
channels = "*"
redis = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.9"
